/* Nav bar right side styling */
.right-side {
  display: flex;
  flex-direction: column;
  align-items: end;
  flex: 1;
}

.favorite-text:hover {
  color: #406a7f;
}

/* Carousel section - indicators */
.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 3px 0 3px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

/* Swiper section */
.swiper {
  height: 285px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.swiper-slide,
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2px;
  width: 300px;
  /* background-color: red; */
}

/* Swiper navigation */
.swiper-button-next {
  background-image: url(../assets/img/icon/arrowRightSlide.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  z-index: 100;
}

.swiper-button-next::after {
  display: none;
  z-index: 100;
}

.swiper-button-prev {
  background-image: url(../assets/img/icon/arrowLeftSlide.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  z-index: 100;
}

.swiper-button-prev::after {
  display: none;
  z-index: 100;
}

/* Card styling */
.card-content {
  margin-right: 0;
  width: 300px;
  height: 264px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 1px 4px 3px 2px rgba(185, 185, 185, 0.35); */
  box-shadow: 0 1px 1px 2px rgba(185, 185, 185, 0.35);
  clip-path: inset(-5px -10px -20px -10px);
  border-radius: 2px;
  /* background-color: blue; */
}

.swiper-slide img {
  display: block;
  object-fit: contain;
}

/* Card element styling */
.car-image img {
  height: 100%;
  width: 100%;
}

.car-image {
  width: 300px;
  height: 150px;
  margin-top: 5px;
}

.car-info {
  width: 300px;
  display: flex;
  position: relative;
}

.car-text {
  margin-left: 8px;
  padding-top: 5px;
  margin-bottom: 0;
}

/* Favorite Pin button styling */
.favorite {
  cursor: pointer;
  user-select: none;
  display: flex;
  position: absolute;
  top: 2px;
  left: 170px;
  padding: 5px;
  box-shadow: 0.5px 0.5px 1px 0.1px #cac7c7;
  height: 50px;
  width: 120px;
}

.grey {
  display: block;
  top: 10px;
}

.yellow {
  display: none;
  top: 5px;
}

.greyText {
  display: inline-block;
  position: relative;
  background-color: white;
  width: 60px;
  padding-top: 2px;
  text-align: center;
  margin-bottom: 0;
}

.yellowText {
  position: relative;
  background-color: white;
  width: 60px;
  padding-top: 2px;
  text-align: center;
  margin-bottom: 0;
}

.greyPinImg {
  position: relative;
  display: inline-block !important;
  height: 35px;
  top: -15px;
  right: -10px;
  margin: 0px !important;
}

.yellowPinImg {
  position: relative;
  display: inline-block !important;
  height: 35px;
  top: -42px;
  right: -74px;
  margin: 0px !important;
}

/* View more button */
.view-more {
  display: flex;
  justify-items: center;
  align-items: center;
  border: 1px solid black;
  margin: 12px;
  padding: 5px 30px;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 0.5px 0.2px rgb(226, 219, 219);
}

.view-more-text {
  margin-left: 20px;
  margin-bottom: 0;
  text-align: center;
}

.button-arrow {
  margin-left: 15px;
  height: 15px;
}

/* Search for cars by Brand or Maker Section */
.searchForCars {
  display: flex;
}

@media only screen and (max-width: 576px) {
  .searchForCars {
    padding: 20px;
  }
}

.carTypeSearch {
  display: block;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
}

.form-check {
  padding-left: 0px;
}

.form-check-label {
  /* margin-right: 100px; */
}

@media (min-width: 768px) and (max-width: 992px) {
  .form-check-label {
  }
}

.carModelText {
  display: inline-block;
}

.delimiter {
  border-left: 4px solid #66a9cc;
  height: 20px;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileWhiteSpace {
  height: 50px;
  background-color: #fff;
}

.searchByMaker {
  padding: 20px 0px;
  box-shadow: 0px 0px 5px -1px rgba(138, 138, 138, 0.6);
}

/* Dropdown toggle */
select {
  background-color: white;
  background-image: url(../assets/img/icon/path.png);
  background-position: right 5px center;
  background-repeat: no-repeat;
  background-size: auto 85%;
  border-radius: 3px;
  border: solid 1px lightgray;
  color: #000;
  padding: 5px 50px 5px 10px;
  // disable default appearance
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
}

/* Right Column - Maker disabled Dropdown */
.rightDropdown {
  background-image: url(../assets/img/icon/path\ disabled.jpeg);
}


// remove dotted firefox border
@-moz-document url-prefix() {
  select {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0 #ffffff;
  }
}

/* Toggle Switch wrapper div */
.toggleSwitcherBtn2 {
  display: flex;
  pointer-events: none;
  user-select: none;
}

/* LEFT Switcher - Car Model column */
.switcher {
  display: inline-block;
  height: 31px;
  background: #fff;
  border-radius: 2px;
  width: 150px;
  border-radius: 10px;
  border: solid 1px #ddd;
  position: relative;
}

.switcher__input {
  display: none;
}

.switcher__label {
  float: left;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  color: #000;
  text-align: center;
  cursor: pointer;
  position: inherit;
  z-index: 10;
  transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__toggle {
  position: absolute;
  float: left;
  height: 30px;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
  background-color: #66a9cc;
  border-radius: 8px;
  left: 0px;
  top: 0px;
  transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__input:checked+.switcher__label {
  color: #fff;
}

.switcher__input--MT:checked~.switcher__toggle {
  left: 75px;
}

/* RIGHT Switcher - Car Maker column */
.switcher {
  display: inline-block;
  height: 31px;
  background: #fff;
  border-radius: 2px;
  width: 150px;
  border-radius: 10px;
  border: solid 1px #ddd;
  position: relative;
}

.switcher__input {
  display: none;
}

.switcher__label {
  float: left;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  color: #000;
  text-align: center;
  cursor: pointer;
  position: inherit;
  z-index: 10;
  transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__toggle {
  position: absolute;
  float: left;
  height: 30px;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
  border-radius: 8px;
  left: 0px;
  top: 0px;
  transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.toggleColor {
  background-color: #aaaaaa;
}

.switcher__input:checked+.switcher__label {
  color: #fff;
}

.switcher__input--MT2:checked~.switcher__toggle {
  left: 75px;
}

/* Styling for dropdowns and toggle switch on Lg screens and up */
@media only screen and (min-width: 992px) {
  select, .toggleSwitcherBtn, .switcher, .switcher__input, .switcher__label, .switcher__toggle {
   
  }
}


.freeSearch {
  padding: 20px 0px;
  box-shadow: 0px 0px 5px -1px rgba(138, 138, 138, 0.6);
}

.makerCarCheckbox {
  margin: 0;
  background-color: #f7f7f7;
}

.searchBySettings {
  background-color: #66a9cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  height: 60px;
  width: 250px;
}

.searchButtonArrow {
  margin: 10px;
  height: 20px;
}

/* Free Search section */
.freeSearch {
}

.freeSearchBtn {
  background-color: #66a9cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  height: 60px;
  width: 250px;
}

.freeSearchButtonArrow {
  position: relative;
  right: -75px;
  height: 20px;
}

.freeSearchInput,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.freeSearchInput {
  border-radius: 3px;
  border: solid 1px lightgrey;
  width: 350px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .freeSearchInput {
    margin: 0px 20px;
  }
}

/* News Section */
@media only screen and (max-width: 576px) {
  .news {
    padding: 30px;
  }
}

.newsHeadingDelimiter {
  border-bottom: 4px solid #406a7f;
  width: 100%;
}

.newsDelimiterLeft {
  border-left: 4px solid #406a7f;
  height: 45px;
}

@media only screen and (max-width: 576px) {
  .newsDelimiterLeft {
    border-left: 4px solid #406a7f;
    height: 75px;
  }
}

@media only screen and (max-width: 370px) {
  .newsDelimiterLeft {
    border-left: 4px solid #406a7f;
    height: 95px;
  }
}

@media only screen and (max-width: 324px) {
  .newsDelimiterLeft {
    border-left: 4px solid #406a7f;
    height: 115px;
  }
}

.newsDelimiterBottom {
  border-bottom: 2px solid #b2c2cb;
  width: 100%;
}

.newsBtnSmall,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.newsBtnBig {
  background-color: #66a9cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 190px;
}

@media only screen and (max-width: 400px) {
  .newsBtnBig {
    background-color: #66a9cc;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 150px;
  }
}

.newsText {
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  word-break: break-word;
}

/* Return to top Button */
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

/* Contact Footer Section */
.contact-section {
  background-color: #66777f;
}

.leftContact {
  padding-top: 20px;
  padding-bottom: 10px;
}

.contactImg {
  height: 55px;
  padding: 5px;
  border: solid 0.1px black;
}

.midContact {
}

.rightContact {
  padding-top: 20px;
}

.rightContactLinks {
  cursor: pointer;
}

.contactDelimiter {
  border-left: 8px solid #406a7f;
  height: 110px;
}

.footer {
  background-color: #cceeff;
}
